/* ==================== _container.scss ==================== */
.HeadingTitle {
  display: block;
  width: 100%;
  margin: 0 auto;
  color: #131921;

  font: {
    size: 1.6rem;
    weight: 600;
    family: Lucida Console, Courier, monospace;
  }

  height: 36px;
  line-height: 36px;

  margin: {
    top: 30px;
    bottom: 10px;
  }
}

.container {
  margin: 0 auto;
  padding: 40px 0 100px;
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container__side {
  color: #131921;
  width: 200px;
}

.container__side__menu {
  background-color: var(--white);
  border-radius: 2px;
  box-shadow: 0 1px 0 0 var(--gray400);

  margin: {
    bottom: 10px;
  }

  a {
    display: block;
    height: 48px;
    line-height: 48px;
    position: relative;
    border-left: 1px solid var(--gray400);
    border-right: 1px solid var(--gray400);

    &:hover {
      .container__side__item {
        cursor: pointer;

        background: {
          color: var(--gray100);
        }
      }
    }

    &:nth-of-type(n + 1) {
      border: {
        top: 1px solid var(--gray400);
      }
    }
  }

  .container__side__item {
    height: 100%;
    padding: 0 16px;

    font: {
      size: 1.3rem;
      weight: 600;
    }

    color: #131921;

    &:hover {
      color: #131921;

      .profile__ico {
        opacity: 1;
      }
    }
  }

  .active {
    .container__side__item {
      border: {
        left: 4px solid var(--amazonYellow);
      }

      color: #131921;
      padding: 0 15px;

      .profile__ico {
        opacity: 1;
      }
    }
  }

  .profile__ico {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;

    @include opacity(0.9);
  }
}

.container__side__item {
  i {
    margin: {
      right: 15px;
    }
  }

  .ico_amazon {
    background: {
      image: url(../img/icon-amazon.svg);
      size: 100%;
    }

    width: 14px;
    height: 14px;

    margin: {
      bottom: 2px;
    }
  }
}

.container__body {
  flex: 1;

  margin: {
    left: 24px;
  }
}

.container__box {
  background: {
    color: var(--white);
  }

  border-radius: 2px;
  @include prefix(box-shadow, 0 1px 0 0 rgb(227, 227, 227));

  margin: {
    bottom: 8px;
  }
  padding: 0 0 50px 0;
}

/* ==================== _details.scss ==================== */
.ds__details {
  min-height: 530px;
  position: relative;
  width: 100%;
}

.ds__details h2 {
  text-align: left;
  padding: 20px 10px 20px 20px;
  border-bottom: 1px dashed rgba(221, 221, 221, 0.5);
  font-size: 1.6rem;
  font-weight: 600;
}

.ds__details .pre__box {
  padding: 30px 24px 0 30px;
}

.ds__details .pre__box h4 {
  font-size: 1.4rem;
}

.ds__details .pre__box h4 span {
  padding-left: 10px;
  color: var(--gray700);
}

.ds__details .pre__box .codeTypes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-size: 1.2rem;
  padding-bottom: 2px;
}

.ds__details .pre__box .pre__img {
  display: inline;
}

.ds__details .pre__box .pre__img img {
  max-width: 100%;
}

@media screen and (max-width: 1023px) {
  .container {
    margin: 0 79px;

    padding: {
      bottom: 40px;
      top: 56px;
    }

    position: relative;
    width: auto;
  }

  .container__side {
    margin: 15px 0 0 0;
    width: 100%;

    border: {
      top: 1px solid rgba(227, 227, 227, 0.5);
    }
  }

  .container__side__menu {
    display: flex;
    align-items: center;

    overflow: {
      x: scroll;
      y: hidden;
    }

    a {
      width: auto;
      height: 42px;
      flex-shrink: 0;
      margin: 0 25px 0 0;
      padding: 0;

      border: {
        left: none;
        right: none;
      }

      &:first-child {
        padding: {
          left: 16px;
        }
      }

      &:nth-of-type(n + 1) {
        border: {
          top: none !important;
        }
      }
    }

    .container__side__item {
      padding: 0 10px;

      font: {
        size: 1.4rem;
      }

      text-align: center;
      line-height: 42px;
    }

    .active {
      .container__side__item {
        border: {
          left: 0;
        }

        padding: 0 10px;

        font: {
          weight: bold;
        }

        border: {
          bottom: 2px solid var(--amazonYellow);
        }

        text-align: center;
      }
    }
  }

  .container__body {
    margin: 10px 0 0 0;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .container {
    margin: 0;

    padding: {
      top: 25px;
    }
  }

  .container .HeadingTitle {
    font: {
      size: 1.6rem;
    }

    margin: {
      bottom: 5px;
    }

    padding: {
      left: 25px;
    }
  }

  .container__body {
    margin: 0;
    width: 100%;
  }

  .triangle__label {
    display: none;
  }

  .pre__box {
    display: none;
  }
}
